################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gift_of_the_givers/gift_of_the_givers.csproj
